


body {
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;

}



#tippy {
    color:rgb(238, 217, 217);
    font-size: 50px;
    
   
}



.scroll {
    scroll-behavior: smooth;
    overflow-y: scroll;
    color: rgb(182, 212, 52);
    text-shadow: 2px 4px 4px #000000;
    font-size: 45px;
    padding-right: 30px;
    
  
    
}
    




#hat {
    position: relative;
    bottom: 45px;
    
}






header {
    text-align: right;
    background-color: rgb(14, 64, 96);
    width: 100%;
    height:30px;
    padding-top:100px;
    padding-bottom: 0px;
    border:solid;
    border-width:5px;
    border-color:rgb(107, 8, 8);
}





h1 {
    font-style: italic;
    color:rgb(240, 243, 235);
    text-align: center;
    text-shadow: 5px 5px 5px #000000;


}
   



a {
    display: inline;
    font-size: 25px;
    margin: 5px;
    font-style: italic;
}





section {
    text-align: center;
    background-color: rgb(122, 122, 117);
    height: 500px;
    width: 700px;
    margin: 5px;
    border:solid;
    border-color: rgb(107, 8, 8);
    border-width: 5px;
    border-radius: 5px;
    box-shadow:0px 0px 0px 5px black;
   
    

 
   
}




#s1 { 
    font-size: 30px;
   ;
}




.section2 {
    background-color: rgb(122, 122, 117);
    height: 200px;
    width:800px;
    border: solid;
    border-width: 5px;
    border-color:rgb(107, 8, 8);
    box-shadow:0px 0px 0px 5px black;
  

}




#s2 {
    position:relative;
    left:80px;
    bottom:350px;
    font-size: 30px;
    
}




.section3{
    height: 700px;
    width:600px;
    border: solid;
    border-width:5px;
    border-color: rgb(107, 8, 8);
    background-color: rgb(121, 122, 117);
    box-shadow:0px 0px 0px 5px black

}





#s3 {
    position:relative;
    left: 500px;
    bottom: 450px;
    font-size: 30px;
   
}




.section4 {
    width:400px;
    border-width: 5px;
    border-radius: 70px;
    background-image: url(./images/pngtree-abstract-black-and-white-wavy-pattern-design-background-picture-image_1863737.jpg);
   
} 




#s4 {
    position: relative;
    left:1250px;
    bottom: 1350px;
    font-size: 30px;
    

}


.lion {
    position:relative;
    height:300px;


}



.head1, .head2, .head3 {
    background-color: rgb(109, 108, 110);
    margin-top: -37px;
    padding-bottom: 20px;
    border: solid  rgb(107, 8, 8);
    border-style:double;
    border-width: px;
   
    
    
}



img {
    object-fit:fill;
    border:solid;
    border-width: 5px;
    border-radius: 50px;
    
    
}

@media screen and (max-width:1200px) {
    header {
      background: #5533c4;
    }
  }
  
  
  @media screen and (max-width: 1000px) {
    body {
      background-color: white;
    }
  }
  
 