body {
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;

}



#tippy {
    color:rgb(101, 5, 5);
    font-size: 50px;
    font-display:;
    
}





#hat {
    position: relative;
    bottom: 45px;
}






header {
    text-align: right;
    background-color: rgb(14, 64, 96);
    width: 100%;
    height:30px;
    padding-top:100px;
    padding-bottom: 10px;
    border:solid;
    border-width:5px;
    border-color:rgb(107, 8, 8);
}





h1 {
    font-style: italic;
    color:rgb(240, 243, 235);
    

}
   



a {
    display: inline;
    font-size: 25px;
    margin: 5px;
    font-style: italic;
}





section {
    text-align: center;
    background-color: rgb(122, 122, 117);
    height: 500px;
    width: 700px;
    margin: 5px;
    border:solid;
    border-color: rgb(107, 8, 8);
    border-width: 5px;
    

 
   
}




#s1 { 
    font-size: 30px;
   ;
}




.section2 {
    background-color: rgb(122, 122, 117);
  
    height: 200px;
    width:800px;
    border: solid;
    border-width: 5px;
    border-color:rgb(107, 8, 8);
    
}



#s2 {
    position:relative;
    left:80px;
    bottom:350px;
    font-size: 30px;
    
}




.section3{
    width:600px;
    border: solid;
    border-width:5px;
    border-color: rgb(107, 8, 8);
    background-color: rgb(121, 122, 117);
  
  

  
}



#s3 {
    position:relative;
    left: 500px;
    bottom: 450px;
    font-size: 30px;
    
}




.section4 {
    width:400px;
    border-width: 5px;
    border-radius: 70px;
    
} 




#s4 {
    position: relative;
    left:1150px;
    bottom: 1200px;
    font-size: 30px;
    

}



.head1, .head2, .head3 {
    background-color: rgb(109, 108, 110);
    margin-top: -37px;
    padding-bottom: 20px;
    border: solid  rgb(107, 8, 8);
    border-style:double;
    border-width: px;
    
    
}



img {
    object-fit:fill;
    border:solid;
    border-width: 5px;
    border-radius: 50px;
    
    
}

@media screen and (max-width:1200px) {
    header {
      background: #5533c4;
    }
  }
  
  
  @media screen and (max-width: 1000px) {
    body {
      background-color: white;
    }
  }
  
 